@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: yellow;
  color: black; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  height: 0; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }
  input[type=checkbox], input[type=radio] {
    padding: 0; }
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto; }
  input[type=search] {
    -webkit-appearance: textfield; }
    input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

b, strong, optgroup {
  font-weight: 700; }

pre, textarea {
  overflow: auto; }

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

.fl-frm__el {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 60px;
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #D8D9DA;
  color: #3B4245;
  display: block;
  font-family: "arial", sans-serif;
  font-weight: bold;
  transition: padding 0.2s 0.2s;
  width: 100%;
  background-image: none; }
  .fl-frm__lbl--medium .fl-frm__el {
    height: 48px;
    font-size: frm-el-font-size-medium; }
  .fl-frm__lbl--small .fl-frm__el {
    height: 36px;
    font-size: 14px; }
  .fl-frm__el:focus {
    box-shadow: 0 0 0px 1px #BDD9EF;
    border-color: #BDD9EF;
    outline: none !important; }
  .fl-frm__el[disabled] {
    background: #EEEEEE;
    border: 1px solid #D8D9DA;
    color: #AAABAD;
    cursor: not-allowed;
    opacity: 1 !important; }
  .fl-frm__lbl--error .fl-frm__el {
    border: none; }

.fl-frm__el {
  padding-top: 1px; }

.js-field-has-value.fl-frm__el {
  transition-delay: 0s;
  padding-top: 24px; }
  .fl-frm__lbl--medium .js-field-has-value.fl-frm__el {
    padding-top: 19.2px; }
  .fl-frm__lbl--small .js-field-has-value.fl-frm__el {
    padding-top: 14.4px; }

.fl-frm__file-upload__button {
  cursor: pointer;
  display: none; }
.fl-frm__file-upload__text {
  display: block;
  line-height: 56px;
  vertical-align: middle;
  color: #3B4245; }

.fl-frm__submit.fl-frm__lbl--error {
  background-color: #FFFFFF;
  border: 1px solid #EC4C88;
  padding: 0;
  height: auto; }
  .fl-frm__submit.fl-frm__lbl--error .fl-frm__lbl-txt--error {
    display: block; }

.fl-frm__submit__text {
  line-height: 55px;
  border: none;
  width: 60%; }
  @media (min-width: 760px) {
    .fl-frm__submit__text {
      width: 75%; } }
.fl-frm__submit__button {
  background-color: #007300;
  float: right;
  height: 46px;
  margin: 0;
  margin: 5px;
  width: 35%; }
.fl-frm__submit .fl-frm__lbl-txt--error {
  background-color: #EC4C88;
  display: none;
  font-weight: normal;
  margin: 0 -1px;
  padding: 3px 3px 3px 20px; }

.fl-frm__el--bool:checked, .fl-frm__el--bool:not(checked) {
  display: none; }

.fl-frm__lbl--bool {
  color: #6B6D70;
  cursor: pointer;
  height: 25px;
  vertical-align: middle;
  direction: ltr; }
  .fl-frm__lbl--bool:hover .fl-frm__lbl-txt--bool {
    text-decoration: none;
    color: #005484; }

.fl-frm__lbl-txt--bool {
  display: inline-block;
  font-family: "arial", sans-serif;
  font-size: 1.6rem;
  height: 25px;
  vertical-align: middle; }

.fl-frm__el--bool:checked ~ .fl-frm__lbl-txt--bool:before,
.fl-frm__el--bool:not(checked) ~ .fl-frm__lbl-txt--bool:before {
  background: #FFFFFF;
  border: 1px solid #989898;
  content: "";
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  width: 25px; }

.fl-frm__lbl-txt--bool--check:before {
  border-radius: 2px; }

.fl-frm__lbl-txt--bool--radio:before {
  border-radius: 50%; }

.fl-frm__lbl-txt--bool:after {
  content: "";
  transition: all 0.2s ease-out; }

.fl-frm__el--bool:checked ~ .fl-frm__lbl-txt--bool:after {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 1; }

.fl-frm__el--bool:checked ~ .fl-frm__lbl-txt--bool--check:after {
  border-bottom: 3.125px solid #009900;
  border-left: 3.125px solid #009900;
  height: 9.375px;
  left: 5.2px;
  top: 2.075px;
  transform: rotate(-45deg);
  width: 21.875px;
  background: transparent;
  box-shadow: 0 5.2px 0 0 transparent;
  left: 5.2px; }
  .ie9 .fl-frm__el--bool:checked ~ .fl-frm__lbl-txt--bool--check:after {
    direction: ltr; }

.fl-frm__el--bool:checked ~ .fl-frm__lbl-txt--bool--radio:after {
  background: #009900;
  border-radius: 50%;
  height: 10.4px;
  left: 7.3px;
  top: 7.3px;
  width: 10.4px; }

.fl-frm__el--bool[disabled] ~ .fl-frm__lbl-txt--bool {
  opacity: 0.5;
  cursor: not-allowed; }
  .fl-frm__el--bool[disabled] ~ .fl-frm__lbl-txt--bool:hover {
    color: #6B6D70; }

.fl-frm__el--bool[disabled] ~ .fl-frm__lbl-txt--bool--check:after {
  border-color: #989898;
  opacity: 1; }
  .fl-frm__el--bool[disabled] ~ .fl-frm__lbl-txt--bool--check:after:hover {
    color: #6B6D70; }

.fl-frm__el--bool[disabled] ~ .fl-frm__lbl-txt--bool--radio:after {
  background: #989898;
  opacity: 1; }
  .fl-frm__el--bool[disabled] ~ .fl-frm__lbl-txt--bool--radio:after:hover {
    color: #6B6D70; }

.js-char-counter {
  color: #989898;
  font-family: "arial", sans-serif;
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 8px; }

.js-char-counter-max {
  color: #EC4C88; }

.fl-frm__lbl-txt {
  color: #989898;
  font-family: "arial", sans-serif;
  pointer-events: none;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  z-index: 1;
  left: 21px;
  top: 8px;
  font-size: 14px; }
  .fl-frm__lbl--medium .fl-frm__lbl-txt {
    left: 17px;
    top: 6px;
    font-size: 12px; }
  .fl-frm__lbl--small .fl-frm__lbl-txt {
    left: 13px;
    top: 4px;
    font-size: 10px; }

.fl-frm__lbl-txt {
  left: 0;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.2s ease-in; }

.js-field-has-value ~ .fl-frm__lbl-txt {
  opacity: 1;
  transform: translateX(21px); }

.fl-frm__lbl--medium .js-field-has-value ~ .fl-frm__lbl-txt {
  transform: translateX(17px); }

.fl-frm__lbl--small .js-field-has-value ~ .fl-frm__lbl-txt {
  transform: translateX(13px); }

.js-field-has-value ~ .fl-frm__lbl-txt {
  transform: translateX(22px); }

.fl-frm__lbl--medium .js-field-has-value ~ .fl-frm__lbl-txt {
  transform: translateX(18px); }

.fl-frm__lbl--small .js-field-has-value ~ .fl-frm__lbl-txt {
  transform: translateX(14px); }

.placeholder {
  color: #989898;
  font-style: italic;
  font-weight: normal;
  opacity: 1;
  user-select: none; }

input-placeholder {
  color: #989898;
  font-style: italic;
  font-weight: normal;
  opacity: 1;
  user-select: none; }

::-webkit-input-placeholder {
  color: #989898;
  font-style: italic;
  font-weight: normal;
  opacity: 1;
  user-select: none; }

::-moz-placeholder {
  color: #989898;
  font-style: italic;
  font-weight: normal;
  opacity: 1;
  user-select: none; }

:-ms-input-placeholder {
  color: #989898;
  font-style: italic;
  font-weight: normal;
  opacity: 1;
  user-select: none; }

.fl-frm__el--sel {
  cursor: pointer;
  padding-left: 16px;
  padding-right: 30px; }
  .fl-frm__lbl--medium .fl-frm__el--sel {
    padding-left: 12px; }
  .fl-frm__lbl--small .fl-frm__el--sel {
    padding-left: 8px; }
  .ie8 .fl-frm__el--sel, .ie9 .fl-frm__el--sel {
    padding-right: 0; }
  .fl-frm__el--sel :first-child:not([value]), .fl-frm__el--sel :first-child[value=""], .fl-frm__el--sel :first-child[value="--"] {
    display: none; }
  [data-useragent*="Mozilla/5.0 (Android; Mobile"] .fl-frm__el--sel {
    background: white !important; }
    [data-useragent*="Mozilla/5.0 (Android; Mobile"] .fl-frm__el--sel[disabled] {
      background: #EEEEEE !important; }

[data-useragent*="Firefox"] .fl-frm__el--sel {
  padding-top: 18px; }
  [data-useragent*="Firefox"] .fl-frm__el--sel.js-field-has-value {
    padding-top: 30px !important; }
  [data-useragent*="Firefox"] .fl-frm__el--sel:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #3B4245; }

[data-useragent*="Firefox"] .fl-frm__lbl--medium .fl-frm__el--sel {
  padding-top: 12px; }
  [data-useragent*="Firefox"] .fl-frm__lbl--medium .fl-frm__el--sel.js-field-has-value {
    padding-top: 23px !important; }

[data-useragent*="Firefox"] .fl-frm__lbl--small .fl-frm__el--sel {
  padding-top: 8px; }
  [data-useragent*="Firefox"] .fl-frm__lbl--small .fl-frm__el--sel.js-field-has-value {
    padding-top: 15px !important; }

[data-useragent*="Safari"][data-useragent*="OS X"] .fl-frm__el--sel {
  padding-left: 20px; }

[data-useragent*="Safari"][data-useragent*="OS X"] .fl-frm__lbl--medium .fl-frm__el--sel {
  padding-left: 16px; }

[data-useragent*="Safari"][data-useragent*="OS X"] .fl-frm__lbl--small .fl-frm__el--sel {
  padding-left: 12px; }

.fl-frm__sel-arrow:after {
  font-family: ss-pikachu;
  content: "";
  font-size: 20px;
  line-height: 0;
  float: "right";
  pointer-events: none;
  position: relative;
  color: #AAABAD;
  top: -30px;
  right: 10px; }
  .ie8 .fl-frm__sel-arrow:after, .ie9 .fl-frm__sel-arrow:after, [data-useragent*="Firefox"] .fl-frm__sel-arrow:after {
    display: none;
    content: none; }

.fl-frm__lbl--medium.fl-frm__sel-arrow:after {
  top: -24px;
  right: 8px; }

.fl-frm__lbl--small.fl-frm__sel-arrow:after {
  top: -18px;
  right: 6px; }

.fl-frm__el--sel::-ms-expand {
  display: none; }

.fl-frm__el--switch:checked, .fl-frm__el--switch:not(checked) {
  display: none; }

.fl-frm__lbl--switch {
  color: #6B6D70;
  cursor: pointer;
  font-family: "arial", sans-serif;
  font-size: 16px;
  height: 37px;
  line-height: 39px;
  padding-left: 100px;
  position: relative; }
  .fl-frm__lbl--switch:before, .fl-frm__lbl--switch:after {
    width: 43px;
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 39px;
    color: #FFFFFF;
    z-index: 2; }
  .fl-frm__lbl--switch:before {
    content: attr(data-checked-text);
    left: 0; }
  .fl-frm__lbl--switch:after {
    content: attr(data-unchecked-text);
    left: 45px; }

.fl-frm__el--switch-wrapper:before {
  content: "";
  background: #D8D9DA;
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s ease-out;
  height: 37px;
  width: 90px;
  color: #FFFFFF;
  font-weight: bold; }

.fl-frm__el--switch:checked ~ .fl-frm__el--switch-wrapper:before {
  background: #009900; }

.fl-frm__el--switch-wrapper:after {
  content: "";
  transition: all 0.2s ease-out;
  width: 43px;
  height: 33px;
  top: 2px;
  left: 2px;
  background: #FFFFFF;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 2px;
  border: 0;
  outline: none; }

.fl-frm__el--switch:checked ~ .fl-frm__el--switch-wrapper:after {
  left: 45px; }

.fl-frm__lbl--switch:hover .fl-frm__el--switch-wrapper:after {
  transform: scale(0.95, 0.95); }

.fl-frm__el--switch[disabled] ~ .fl-frm__el--switch-wrapper:before {
  cursor: not-allowed;
  box-shadow: none;
  background: #EEEEEE; }

.fl-frm__el--switch:checked[disabled] ~ .fl-frm__el--switch-wrapper:before {
  background: #D7EBCA; }

.fl-frm__el--switch[disabled] ~ .fl-frm__el--switch-wrapper:after {
  box-shadow: none; }

.fl-frm__el--txt {
  padding-left: 20px; }
  .fl-frm__lbl--medium .fl-frm__el--txt {
    padding-left: 16px; }
  .fl-frm__lbl--small .fl-frm__el--txt {
    padding-left: 12px; }

.fl-frm__el--area {
  height: 120px;
  line-height: 18px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px; }
  [data-platform*="iPhone"] .fl-frm__el--area {
    padding-left: 17px;
    padding-right: 17px; }
  .fl-frm__el--area.js-field-has-value {
    padding-top: 34px !important; }

.fl-frm {
  position: relative; }

.fl-frm__counter {
  right: 20px;
  color: #FFFFFF;
  height: 65px;
  position: fixed;
  text-align: center;
  top: 80px;
  width: 90px;
  z-index: 10; }
  .fl-frm__counter:before {
    border-bottom: 65px solid #EC4C88;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
    left: 0; }
  .fl-frm__counter span {
    display: block;
    position: relative;
    text-align: center;
    z-index: 25; }
  .fl-frm__counter--number {
    margin-top: 20px;
    font-size: 20px; }
  .fl-frm__counter--text {
    font-size: 14px; }

.fl-frm__tooltip {
  right: 0;
  background: #BDD9EF;
  border-radius: 4px;
  bottom: 100%;
  color: #3B4245;
  display: none;
  font-family: "arial", sans-serif;
  font-size: 14px;
  margin-bottom: -1px;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  user-select: none;
  z-index: 1; }
  .fl-frm__tooltip:after {
    right: 15px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #BDD9EF;
    content: " ";
    position: absolute;
    top: 100%; }

.fl-frm__el:focus ~ .fl-frm__tooltip {
  display: inline-block; }

.fl-frm__lbl {
  direction: ltr;
  display: block;
  margin: 10px auto 5px auto;
  position: relative; }

.fl-frm__lbl--error {
  background: #EC4C88;
  padding: 1px;
  border-radius: 3px; }

.fl-frm__lbl-txt--error {
  display: none;
  color: #FFFFFF;
  font-family: "arial", sans-serif;
  font-size: 14px;
  margin: 3px;
  margin-left: 20px; }
  .fl-frm__lbl--medium .fl-frm__lbl-txt--error {
    font-size: 12px;
    margin: 3px;
    margin-left: 16px; }
  .fl-frm__lbl--small .fl-frm__lbl-txt--error {
    font-size: 10px;
    margin: 3px;
    margin-left: 12px; }
  .fl-frm__lbl--error .fl-frm__lbl-txt--error {
    display: inline-block; }

.fl-frm__lbl--required:before {
  color: #B80007;
  content: "*";
  font-family: "arial", sans-serif;
  font-size: 25px;
  left: 8px;
  position: absolute;
  font-size: 25px;
  top: 21px;
  left: 8px; }

.fl-frm__lbl--medium.fl-frm__lbl--required:before {
  font-size: 20px;
  top: 17px;
  left: 7px; }

.fl-frm__lbl--small.fl-frm__lbl--required:before {
  font-size: 15px;
  top: 13px;
  left: 5px; }

.container-fluid {
  width: 800px;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
