<div class="row">
    <div class="col-xs-3">
        <ul class="list-group sidebar">
            <li class="list-group-item">
                <a href=""
                    ng-click="scrollTo('input')"
                    ui-sref-active="active">
                    Simple input text
                </a>
            </li>
            <li class="list-group-item">
                <a href="#"
                    ng-click="scrollTo('input-text-required')">
                    Input text required
                </a>
            </li>
            <li class="list-group-item">
                <a href="#"
                    ng-click="scrollTo('input-text-tooltip')">
                    Input text with tooltip
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" ng-click="scrollTo('input-text-error')">
                    Input text with errors
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" ng-click="scrollTo('input-email')">
                    Email input
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" ng-click="scrollTo('input-email')">
                    Input email
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-9">
        <h2>Simple usage</h2>
        <div class="bs-callout bs-callout-info" id="callout-inputgroup-form-labels">
            <p>Add always <code>fl-label</code> attribute to the input element.</br>
            The element <code>label</code>can be omitted.<br/>.
        </div>
        <form name="myform">
            <h3 id="input-text">Simple input text</h3>
            <input fl-label ng-model="myform.nameMe" name="name" placeholder="Type your name" value=""/>
            <!-- copy to clipboard -->
            <div class="code-example">
                <span class="copy-me" compile="false">
                    <a href="#">
                        <span class="fa fa-clipboard">&nbsp;</span>
                        Copy
                    </a>
                </span>
                <div hljs language="html" class="dcode" compile="true">
                    <input fl-label name="name" placeholder="Type your name" value=""/>
                </div>
            </div>
            <hr/>
            <h4 id="text-required">Input text required</h4>
            <input fl-label required ng-model="myform.nameRequired" name="name-required" placeholder="i'm a placeholder" value=""/>
            <!-- copy to clipboard -->
            <div class="code-example">
                <span class="copy-me" compile="false">
                    <a href="#">
                        <span class="fa fa-clipboard">&nbsp;</span>
                        Copy
                    </a>
                </span>
                <div hljs language="html" class="dcode" compile="true">
                    <input fl-label name="name" placeholder="i'm a placeholder" value="" required/>
                </div>
            </div>
            <hr/>
            <h4 id="input-with-tooltip">Input text with tooltip</h4>
            <input fl-label
                   name="input-with-tooltip"
                   ng-model="myform.withTooltip"
                   placeholder="This is a sample placeholder"
                   fl-tip="This is a handy tooltip"
                   value=""/>
            <!-- copy to clipboard -->
            <div class="code-example">
                <span class="copy-me" compile="false">
                    <a href="#">
                        <span class="fa fa-clipboard">&nbsp;</span>
                        Copy
                    </a>
                </span>
                <div hljs language="html" class="dcode" compile="true">
                    <input fl-label name="name" placeholder="i'm a placeholder" value="" required fl-tip="This is a handy tooltip"/>
                </div>
            </div>
            <hr/>
            <h4>Input text with a charcounter</h4>
            <input fl-label
                   placeholder="This is a placeholder"
                   required
                   value=""
                   ng-model="myform.nameCharcounter"
                   fl-tip="this is a handy tooltip"
                   maxLength="55"/>
            <!-- copy to clipboard -->
            <div class="code-example">
                <span class="copy-me" compile="false">
                    <a href="#">
                        <span class="fa fa-clipboard">&nbsp;</span>
                        Copy
                    </a>
                </span>
                <div hljs language="html" class="dcode" compile="true">
                    <input fl-label name="name" placeholder="i'm a placeholder" value="" required/>
                </div>
            </div>
            <hr/>
            <h4>Fl radio</h4>
            <input type="radio"
                   fl-radio
                   data-label="i'm a radio button"/>

            <!-- copy to clipboard -->
            <div class="code-example">
                <span class="copy-me" compile="false">
                    <a href="#">
                        <span class="fa fa-clipboard">&nbsp;</span>
                        Copy
                    </a>
                </span>
                <div hljs language="html" class="dcode" compile="true">
                    <input fl-radio unchecked data-label="i'm a radio button"/>
                </div>
            </div>
            <hr/>
            <h4>Fl Checkbox</h4>
            <!-- Define the directive as an element -->
            <fl-checkbox label="please checkme"></fl-checkbox>
            <fl-checkbox label="{{checkboxMessage}}"></fl-checkbox>


            <input fl-checkbox type="checkbox" data-label="I'm a checkbox"/>
            <!-- copy to clipboard -->
            <div class="code-example">
                <span class="copy-me" compile="false">
                    <a href="#">
                        <span class="fa fa-clipboard">&nbsp;</span>
                        Copy
                    </a>
                </span>
                <div hljs language="html" class="dcode" compile="true">
                    <input fl-checkbox unchecked data-label="i'm a checkbox"/>
                </div>
            </div>
            <hr/>
            <h2>Customize the css</h2>
            <div class="alert alert-info">
                <span>
                <span class="fa fa-lightbulb-o">&nbsp;</span>
                <b>Customize the required css class</b>
                </span>
                <p>
                You can override the css class .fl-frm__lbl--required:before<br/>
                The required styles are part of the floating label pattern but still you can change the default ones and add your own styles.
                </p>
            </div>
    </div>
</div>
