<h2>Floating labels in action</h2>
<div class="row">
  <div class="col-md-12">
    <form novalidate>
      <input name="name" fl-label placeholder="your name" fl-tip="Enter your name"/>
      <input name="email" fl-label type="email" placeholder="your email" fl-tip="Enter your valid email"/>
      <input type="phone" fl-label placeholder="Enter your phone" fl-tip="Enter your valid phone number"/>
      <input name="subject"
             fl-label
             max-length="60"
             placeholder="Subject of the communication"
             fl-tip="Do not exceed 60 characters"
             fl-error="Chars exceeded"
             autofocus
             />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
