---
<div class="row">
  <div class="col-xs-3">
    <!-- Menu here -->

    <!-- Menu here -->
  </div>
  <div class="col-xs-9">
    <form name="myform">
      <!-- First prototype not changing the elments -->
      <input name="name"
             value="value persisted"
             type="text"
             placeholder="This is the placeholder value"
             fl-label
             required />
      <!-- Hook up with the controller -->
      <input name="name"
             value="{{fm.customValue}}"
             type="text"
             placeholder="{{fm.customPlaceholders}}"
             required
             fl-label />
      <h2>Input with a counter</h2>
      <p>The directive hook up the maxlength and minlength to display a fancy char counter</p>
      <input name="charcounter"
             type="text"
             placeholder="well this is static"
             required
             fl-label
             maxlength="55"
             minlength="6" />
      <h2>Input with tooltip</h2>
      <h2>Inputs with tooltips</h2>
      <input name="with-error"
             required
             type="text"
             placeholder="{{whatever}}"
             fl-label
             fl-tip="{{whatever}}"
             fl-error="{{whatever}}" />
      <!-- Second prototype new html element -->
    </form>
    <h2>Full example</h2>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <input type="text"
                 placeholder="large-12.columns"
                 fl-label
                 fl-tip="This is how easy it is folks!" />
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label>Input Label
            <input type="text" placeholder="large-4.columns" fl-label/>
          </label>
        </div>
        <div class="large-4 columns">
          <label>Input Label
            <input type="text" placeholder="large-4.columns" fl-label>
          </label>
        </div>
        <div class="large-4 columns">
          <div class="row collapse">
            <label>Input Label</label>
            <div class="small-9 columns">
              <input type="text" placeholder="small-9.columns" fl-label>
            </div>
            <div class="small-3 columns">
              <span class="postfix">.com</span>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="large-12 columns">
            Select Box
            <select fl-select required>
              <option value="">Select your item</option>
              <option value="husker">Husker</option>
              <option value="starbuck">Starbucks</option>
              <option value="hotdog">Hot Dog</option>
              <option value="apollo">Apollo</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed" fl-label/><label for="pokemonRed">Red</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
        </div>
        <div class="large-6 columns">
          <label>Check These Out</label>
          <input id="checkbox1" type="checkbox" fl-label /><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox" fl-label /><label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label
            <textarea placeholder="small-12.columns" fl-label></textarea>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
