<div class="row">
    <div class="container jumb">
        <h2>Create sexy, highly accessible forms with Angular js</h2>
        <div clas="row">
            <div class="col-sm-4 col-md-3 thumbnail">
                <div class="card fa fa-bolt">&nbsp;</div>
                <div class="card__desc">
                    <p>Lighweight, only 500kb overall</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 thumbnail">
                <div class="card fa fa-desktop">&nbsp;</div>
                <p>Device agnostic</p>
            </div>
            <div class="col-sm-4 col-md-3 thumbnail">
                <div class="card fa fa-bicycle">&nbsp;</div>
                <p>Acessible and user friendly</p>
            </div>
            <div class="col-sm-4 col-md-3 thumbnail">
                <div class="card fa fa-code">&nbsp;</div>
                <p>Minimal customization required</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Fill that form ;)</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <form name="flabel" method="post">
                    <div class="row">
                        <div class="col-md-8">
                            {{home.simpleNumber}}
                            <input fl-label
                                fl-tip="This is a simple tooltip"
                                name="emailAdress"
                                ng-model="emailAddress"
                                placeholder="Type your email here"
                                required
                                type="email"
                                value=""
                                maxLength="60"/>
                            <span class="fl-frm__validation" ng-show="flabel.emailAdress.$error.email">
                                Hey please type a valid email
                            </span>
                            <span class="fl-frm__validation" ng-show="flabel.emailAdress.$error.invalid">
                                Hey this is an invalid email
                            </span>
                            <span class="fl-frm__validation" ng-show="flabel.emailAdress.$error.minlength">
                                Too short
                            </span>
                            <span class="fl-frm__validation" ng-show="flabel.emailAdress.$error.maxLength">
                                Too long
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input fl-label
                                name="name"
                                ng-model="name"
                                required="required"
                                maxLength="2"
                                ng-maxlength="1"
                                minLength="6"
                                placeholder="Please type your name"
                                fl-tip="Please type your first name"
                                value=""/>
                            <span class="fl__validation" ng-show="flabel.name.$error.max-length">
                                Form validation error, too short
                            </span>
                            <input type="radio"
                                fl-radio
                                name="group1"
                                data-label="i'm a developer"/>
                            <input type="radio"
                                   name="group1"
                                   fl-radio
                                   data-label="i'm a designer">

                            <p>Element checkbox, {{hello}}</p>
                            <fl-checkbox label='{{hello}}' ng-model="checked"></fl-checkbox>
                            <textarea name="comments"
                                    fl-label
                                    value=""
                                    ng-model="comments"
                                    fl-tip="Any ideas? ;)"
                                    class=""
                                    cols="20"
                                    rows="20"
                                    placeholder="Your feedback about floating labels"></textarea>
                            <hr/>
                            <h3>Drop down lists</h3>

                            <h4>Custom with a repeater</h4>
                            <fl-sel dataset="{{dataset}}" hint="{{hint}}"></fl-sel>
                            <fl-sel dataset="{{dataset}}" hint="static hint"></fl-sel>
                            <div ng-include="'src/views/_countries-dropdown.html'"></div>
                            <hr/>
                            <textarea fl-label value=""
                                    placeholder="a placeholder"
                                    row="20"
                                    cols="20"
                                    required
                                    fl-tip="Simple tooltip"
                                    ng-model="comments"></textarea>
                            <hr/>
                            <label class="fl-frm__lbl">
                                <textarea cols="20"
                                rows="20"
                                value=""
                                placeholder="Textarea with character counter"
                                class="fl-frm__el fl-frm__el--area"
                                maxlength="50"
                                data-char-counter=""></textarea>
                                <span class="js-char-counter"><span data-current-char-count="">0</span>/50</span>
                                <span class="fl-frm__lbl-txt fl-frm__lbl-txt--area">Textarea with char counter</span>
                                <span class="fl-frm__tooltip">Here's a handy little hint</span>
                            </label>
                            <select>
                                <option default>Tell us where you coming from</option>
                                <option ng-repeat="country in countries"
                                    value="{{country}}">
                                    {{country}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
