<div class="row">
    <div class="header-nav">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-header">
                <h1 class="header-nav__title">
                    <a href="" ui-sref="home">Angular FL labels</a>
                </h1>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/HichemBenChaaben/angular-floating-labels.github.io">Source code</a>
                </li>
                <li>
                    <a href="#" ui-sref="test">Test</a>
                </li>
                <li>
                    <a href="#" ui-sref="components" ui-sref-active="active">Documentation</a>
                </li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
